<div id="navbar"></div>
<div id="content"></div>

<script>
	$(function() {
		var $navbar = $("#navbar"),
			$content = $("#content"),
			currentUserData = <%= current_or_guest_user.to_json.html_safe %>,
			usersData = <%= @users.to_json.html_safe %>;
		
		CH.init(
			$navbar,
			$content,
			currentUserData,
			usersData
		);
	});
</script>