<div id="navbar"></div>
<div id="content"></div>

<script>
	$(function() {
		var $navbar = $("#navbar");
		var $content = $("#content");
		var currentUserData = <%= current_user.to_json.html_safe %>;
		CH.init(
			$navbar,
			$content,
			currentUserData
		);
	});
</script>