<div class="text-bg">
	<h1>Welcome to our chess App, <%= user.escape("email") %> </h1>
</div>
<div class="white-bg span4">
	<h4>You can:</h4>
	<ul class="unstyled">
		<li><a href="#players">Play against friends</a></li>
		<li><a href="#players">See who is online</a></li>
		<li><a href="#players">Invite players to a game</a></li>
		<li><a href="#games">Leave game and come back</a></li>
	</ul>
</div>