<div id="in-game-chat">
	<div id="discussion" class="text-bg">
		<ul>
		<li>ka</li>
		<li>oh ya?</li>	
		
		
		</ul>
	
	</div>

	<input id="chat-input" type="text" placeholder="type a message">
</div>