<div class="text-bg span4">
	<p>Voice input works in the format (from|to), e.g. 2545</p>
	<label>Click the microphone to input move with voice
		<input type="search" id="search" name="q" x-webkit-speech speech required onspeechchange="makeVoiceMove();" onwebkitspeechchange="makeVoiceMove();" size=10>
	</label>
	
	<button id="show-numbers">Show Board Numbers</button>
</div>