<div class="navbar navbar-fixed-top">
  <div class="navbar-inner center">
	   <a class="brand" href="#index">PvP Online Chess</a>
	    <ul class="nav" id="navvy">
			<% if ( CH.Store.currentUser ) { %>
				<li class="#">
					<a id="sign-out" href="#">Sign Out</a>
				</li>
			<% } else { %>
				<li class="#">
					<a id="sign-in-page" href='#signin'>Sign In</a>
				</li>
			<% } %>
			<li class="#">
				<a id='new-game' href='#/game'>Chess</a>
			</li>
			<li class="#">
				<a id='players-index' href='#/Players'>Players</a>
			</li>
			<li class="#">
				<a id='new-message' href='#'>New Message</a>
			</li>
			<li class="#">
				<a id='chat' href='#'>Chat</a>
			</li>
			<li class="active">
				<a id='home-button' href='#home'>Home</a>
			</li>
		</ul>
	</div>
</div>