<h2>Ah hah!</h2>
<h4>now you have all my secrets</h4>
<video autoplay></video>
<img src="">
<canvas style="display:none;" width="500" height="700"></canvas>


<script>
function startSearch(event) {
  var speech = $("#search").val();
  
  var search = "https://www.google.com/search?q=" + speech.replace(' ', '+');
  console.log(search);
  
 window.open(search);
 
  // event.target.form.submit();
}
$(function() {


  var onFailSoHard = function(e) {
    console.log('Reeeejected!', e);
  };

  window.URL = window.URL || window.webkitURL;
  navigator.getUserMedia  = navigator.getUserMedia ||
  					  navigator.webkitGetUserMedia ||
					  	 navigator.mozGetUserMedia ||
						 navigator.msGetUserMedia;

  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome 18. In other browsers, this will fall back to image/png.
      document.querySelector('img').src = canvas.toDataURL('image/webp');
    }
  }

  video.addEventListener('click', snapshot, false);

  if (navigator.getUserMedia) {
    navigator.getUserMedia({audio: true, video: true}, function(stream) {
      video.src = window.URL.createObjectURL(stream);
	  localMediaStream = stream;
	  
    }, onFailSoHard);
  } else {
    video.src = 'somevideo.webm'; // fallback.
  }




	
});



</script>

<form action="http://www.google.com/search" target="_blank">
  <input type="search" id="search" name="q" x-webkit-speech speech required onspeechchange="startSearch();" onwebkitspeechchange="startSearch();" size=100>
</form>