@import 'bootstrap';

body {
	margin-top: 50px;
	background: url("chess1.jpg");
}

.blue {
	color: blue;
}

#flash {
	color: red;
  width: 400px;
  height: 50px;
	float:right;
}

.hidden {
	opacity: 0;
}

canvas {
	border: 5px solid #423C39;
}

video {
  width: 1000px;
  height: 800px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
}