@import 'bootstrap';

body {
	margin-top: 50px;
	
}

#flash {
	color: red;
  width: 400px;
  height: 50px;
	float:right;

}

.hidden {
	opacity: 0;
}

canvas {
	
}

video {
  width: 1000px;
  height: 800px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
}