@import "bootstrap";

body {
	margin-top: 50px;
	background: url("chess1.jpg");
}

@import "bootstrap-responsive";

.brand {
	margin-left: 50px;
}

.text-bg {
	text-align: center;
	opacity: .9;
	background-color: #E1E7FA;
	margin: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.white-bg {
	text-align: center;
	opacity: .8;
	padding: 10px;
	background-color: #FAFAFA;
	margin: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.yellow-bg {
	text-align: center;
	opacity: .8;
	padding: 10px;
	background-color: #E0E04C;
	margin: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#in-game-chat {
	float: left;
	margin-left: 20px;
	font-size: large;
	
	li.me {
		color: #1B118A;
	}

	li.you {
		color: #5C0B06;
	}
}



br {
	clear: both;
}

// alerts
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.my-form {
	background-color: #E1E7FA;
	padding:30px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.blue {
	color: blue;
}

#flash {
	color: red;
  width: 400px;
  height: 50px;
	float:right;
}

.hidden {
	opacity: 0;
}

canvas {
	float: left;
	border: 5px solid #423C39;
	margin-right: 20px;
}

video {
  width: 1000px;
  height: 800px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
}